@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>ASP.NET Developer Journey</h1>
    <p class="lead">Hello! Welcome to my ASP.NET MVC Website.</p>
    <p>I'm Anthony, and I'm an ASP.NET Developer.</p>
    <p>For the last 3 years, I've been predominantly focused on programming in VB.NET. In late 2019, i started to move towards understanding the MVC framework, it's principles and getting back to grips with C#.</p>
    <p>I am now working towards becoming a C# MVC ASP.NET Developer including WebAPI and using dependency injection.</p>
    <p>This website will be a portfolio of work of which i have been able to produce using C# MVC coding practices.</p>
    <p>You can also find my other projects (including this one) by clicking on the GitHub button below.</p>
    <a href="https://github.com/acookdeveloper" class="btn btn-primary btn-lg" target="_blank">Github</a>
</div>
<hr/>

<div class="row">
    
</div>