@{
    ViewBag.Title = "Welcome to my website - Anthony Cook";
}

<div class="">
    <h1>ASP.NET Developer Journey</h1>
    <p class="lead">Hello! Welcome to my ASP.NET MVC Website.</p>
    <p>I'm Anthony, and I'm an ASP.NET Developer.</p>
    <p>Since 2017 I've been predominantly focused on programming in VB.NET and WebForms .NET Framework. In late 2019, i started to move towards understanding the MVC framework, it's principles and getting back to grips with C# after a few years of not using it.</p>
    <p>I am now working towards becoming a C# MVC ASP.NET Developer using WebAPI, Dependancy Injection and much more (that i still have to learn!)</p>
    <p>This website will be a portfolio of work of which i have been able to produce using C# MVC coding practices.</p>
    <p>You can also find some other projects (including this one) by clicking on the GitHub button below.</p>
    <a href="https://github.com/acookdeveloper" class="btn btn-primary btn-lg" target="_blank">Github</a>
</div>
<hr/>

<div class="row">
    
</div>