
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ACWebsiteTemplate.cshtml";
}

<h2>Let's see the Cyrpto!</h2>

<ul style="list-style:none;">
    <li>
        <h4><a href="/Crypto/BTC"><strong> >> Bitcoin Statistics</strong></a></h4>
    </li>
    <li>
        <h4><a href="/Crypto/LTC"><strong> >> Litecoin Statistics</strong></a></h4>
    </li>

</ul>