@media (max-width:768px){
    .navbar-nav li {
        width: 100% !important;
    }

    .navbar-nav{
        margin:0px !important;
    }

    .navbar-collapse{
        padding:0px !important;
    }
}


body {
    background-color: #DDD;
    color: #333;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

.container.body {
    background-color: #DDD;
    min-height: calc(100vh - 135px);
    max-height: calc(100vh - 135px);
    overflow-y: auto;
    margin-top: 135px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sticky {
    width: 100%;
    position: fixed;
    margin-top: -135px;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
    display: inline-block;
    color: #0f233c;
}

hr {
    border-color: #0f233c;
}

.grey-text {
    color: #222;
}

.blue-text {
    color:#2d69a7;
}

.dark-blue-text {
    color:#0f233c;
}

.navbar-nav {
    width: 100%;
    display: block;
    background-color: #2d69a7;
}

.navbar.navbar-top {
    background-color: #2d69a7;
    margin-bottom:0px;
}

.navbar-header {
    width: 100%;
    display: block;
    background-color: #2d69a7;
    text-align:center;
    margin:0 !important;
}

.navbar-toggle {
    float: none;
    border-color: #0f233c;
    margin-right:0px;
}

.navbar-toggle .icon-bar{
    background-color:#fff;
}

.navbar-nav li{
    width:33.3%;

}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav li a {
    color: #FFF;
}

    .navbar-nav li a:hover {
        color: #FFF;
        background-color:#0f233c;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
